<?xml version="1.0"?>
<menu>
	<group title="Pockets" homeImage="pockets.jpg" description="A pita pocket sandwich, add a side of hummus, tabouleh, and pita bread for only $2.50!">
		<item>
			<title>Kibbe Pocket</title>
			<description>Pita bread filled with a grilled beef or lamb kibbe patty, lettuce, tomatoes, onions, pickles, parsley and hummus</description>
			<price>Beef: $7.49, Combo: $10.29</price>
			<price2>Lamb: $8.99, Combo: $11.79</price2>
			<image>beef_shawarma_pocket.jpg</image>
		</item>
		<item>
			<title>Falafel Pocket</title>
			<description>Pita bread filled with traditional or spicy falafel, lettuce, tomatoes, onions, pickles, parsley and tahini sauce </description>
			<price>Regular: $5.49</price>
			<price2>Spicy: $5.49</price2>
			<image>falafel_pocket.jpg</image>
		</item>
		<item>
			<title>Shawarma Pockets</title>
			<description>Pita bread filled with your choice of either a grilled chicken, beef or lamb patty with lettuce, tomatoes, onions, pickles, parsley and tahini sauce</description>
			<price>Chicken or Beef: $6.49</price>
			<price2>Lamb: $7.99</price2>
			<image>chicken_shawarma_pocket.jpg</image>
		</item>
		<item>
			<title>Kafta Pocket</title>
			<description>Pita bread filled with a grilled beef and lamb Kafta patty, lettuce, tomatoes, onions, pickles, parsley and hummus</description>
			<price>Pocket: $6.49</price>
			<price2>Combo: $10.99</price2>
			<image>beef_shawarma_pocket.jpg</image>
		</item>
		<item>
			<title>Tabouleh and Hummus Pocket</title>
			<description>Pita bread filled with a generous mix of our hummus and tabouleh</description>
			<price>Pocket: $5.49</price>
			<price2> </price2>
			<image>tabouleh_hummus_pocket.jpg</image>
		</item>
		<item>
			<title>Lentil Tabouleh Pocket</title>
			<description>Pita bread filled with a generous mix of our moujadra and tabouleh</description>
			<price>Pocket: $5.99</price>
			<price2> </price2>
			<image>lentil_tabouleh_pocket.jpg</image>
		</item>
	</group>
	<group title="Salads">
		<item>
			<title>Fattoush Salad</title>
			<description>A crispy baked pita bowl filled with freshly cut lettuce, tomatoes, cucumbers, onions, parsley, and seasoned with mint, sumac, and garlic, drizzled with fresh lemon juice and extra virgin olive oil dressing</description>
			<price>Regular: $5.99</price>
			<price2>Side: $3.99</price2>
			<image>fattoush_salad.jpg</image>
		</item>
		<item>
			<title>Shawarma Salad</title>
			<description>A crispy baked pita bowl filled with shawarma seasoned chicken, beef, or lamb, lettuce, tomatoes, onions, pickles, and parsley, drizzled with tahini sauce</description>
			<price>Regular Salad - Chicken or Beef: $6.99, Lamb: $8.48</price>
			<price2>Side Salad - Chicken or Beef: $4.50, Lamb: $5.50</price2>
			<image>shawarma_salad.jpg</image>
		</item>
		<item>
			<title>Falafel Salad</title>
			<description>A crispy baked pita bowl filled with lettuce, tomatoes, onions, pickles, and parsley: topped with falafel and drizzled with tahini</description>
			<price>Regular: $6.99</price>
			<price2>Side: $4.50</price2>
			<image>falafel_salad.jpg</image>
		</item>
		<item>
			<title>Lentil and Cabbage</title>
			<description>A crispy baked pita bowl filled with Moujadra (mix of lentil and rice), freshly cut cabbage and tomatoes, seasoned with garlic and drizzled with fresh lemon juice and extra virgin olive oil</description>
			<price>Regular: $6.99</price>
			<price2>Side: $4.50</price2>
			<image>lentil_cabbage_salad.jpg</image>
		</item>
		<item>
			<title>Bulgar Wheat</title>
			<description>A crispy baked pita bowl filled with warm bulgur cooked in tomato sauce and topped with lettuce, tomatoes, onions, and olives; drizzled with fresh lemon juice and extra virgin olive oil</description>
			<price>Regular: $6.99</price>
			<price2>Side: $4.50</price2>
			<image>bulgur_wheat_salad.jpg</image>
		</item>
	</group>
	<group title="Hummus">
		<item>
			<title>Traditional Hummus</title>
			<description>A traditional lebanese mix of chickpeas, tahini, garlic, lemon and seasonings. Available flavors: Artichoke, Roasted Red Pepper, Black Olive and Oregano, Horseradish, and Spicy!</description>
			<price>Small: $2.99-$3.99, Medium: $4.49-$5.29</price>
			<price2>Large: $6.49-$8.49</price2>
			<image>hummus.jpg</image>
		</item>
	</group>
	<group title="Tabouleh">
		<item>
			<title>Traditional Tabouleh</title>
			<description>Our traditional Tabouleh made with the right mix of cracked wheat or corn, tomatoes, onions, parsley, drizzled with fresh lemon juice and extra virgin olive oil.</description>
			<price>Regular: $2.99</price>
			<price2>Large: $2.99</price2>
			<image>trad_tabouleh.jpg</image>
		</item>
	</group>
	<group title="Baba Ghanouj">
		<item>
			<title>Traditional Baba Ghanouj</title>
			<description>BBQ Eggplants with a delicious balanced mix of tahini paste, garlic, lemon juice and spices. Also available in a spicy variation with cayenne pepper</description>
			<price>Traditional: $4.49</price>
			<price2>Spicy: $4.49</price2>
			<image>baba_ghanouj.jpg</image>
		</item>
	</group>
	<group title="Kibbe">
		<item>
			<title>Stuffed Kibbe</title>
			<description>Bulgur wheat mixed with either beef, chicken, lentils, pumpkin, or potatoes</description>
			<price>$1.25 each</price>
			<price2>Combo: $9.99</price2>
			<image>stuffed_kibbe.jpg</image>
		</item>
		<item>
			<title>Kibbe Combo</title>
			<description>6 stuffed kibbe with a side of hummus, tabouleh, and pita bread</description>
			<price>$9.99</price>
			<price2> </price2>
			<image>kibbe_combo.jpg</image>
		</item>
		<item>
			<title>Kibbe Pops</title>
			<description>Bite-sized stuffed beef kibbe pops, also available in a combo meal for kids</description>
			<price>Regular: $5.99</price>
			<price2> </price2>
			<image>kibbe_pops.jpg</image>
		</item>
		<item>
			<title>Baked Kibbe</title>
			<description>Sauteed beef and onions between two layers of beef kibbe baked to perfection</description>
			<price>$8.99</price>
			<price2>Call an hour in advance!</price2>
			<image>baked_kibbe.jpg</image>
		</item>
	</group>
	<group title="Falafel">
		<item>
			<title>Falafel Platter</title>
			<description>8 Falafel patties, with pita bread and toppings for two regular sized-wraps or pockets, also available in a spicy variation with cayenne pepper</description>
			<price>$9.89</price>
			<price2> </price2>
			<image>falafel_platter.jpg</image>
		</item>
		<item>
			<title>Falafel Patties</title>
			<description>Individual falafel patties made with the right blend of chick peas and fresh herbs and seasonings, also available in a spicy variation with cayenne pepper</description>
			<price>Set of 6: $5.49</price>
			<price2>Set of 12: $9.89</price2>
			<image>falafel_patties.jpg</image>
		</item>
	</group>
	<group title="Pies">
		<item>
			<title>Spinach Pie</title>
			<description>Spinach, onions, lemon juice, and seasonings</description>
			<price>$2.50</price>
			<price2> </price2>
			<image>spinach_pie.jpg</image>
		</item>
		<item>
			<title>Meat Pie</title>
			<description>Beef, onions, tomatoes and seasonings</description>
			<price>$2.75</price>
			<price2> </price2>
			<image>meat_pie.jpg</image>
		</item>
		<item>
			<title>Chicken Pie</title>
			<description>Chicken, red bell peppers, onions and seasonings</description>
			<price>$2.75</price>
			<price2> </price2>
			<image>chicken_pie.jpg</image>
		</item>
		<item>
			<title>Potato Pie</title>
			<description>Potatoes, onions, parsley, mint, garlic</description>
			<price>$2.50</price>
			<price2> </price2>
			<image>potato_pie.jpg</image>
		</item>
		<item>
			<title>Cheese Pie</title>
			<description>Mozzarella and feta cheese pie</description>
			<price>$2.75</price>
			<price2> </price2>
			<image>cheese_pie.jpg</image>
		</item>
	</group>
	<group title="Soups">
		<item>
			<title>Lentil Soup</title>
			<description>Lightly seasoned boiled red lentils mixed with rice</description>
			<price>Small: $2.99, Medium: $4.69, Large: $7.99</price>
			<price2> </price2>
			<image>lentil_soup.jpg</image>
		</item>
		<item>
			<title>Kibbe Soup</title>
			<description>Beef kibbe boiled in tomato, garlic, and mint broth</description>
			<price>null</price>
			<price2> </price2>
			<image>kibbe_soup.jpg</image>
		</item>
		<item>
			<title>Chicken Soup</title>
			<description>Chicken with vegetables and rice</description>
			<price>null</price>
			<price2> </price2>
			<image>chicken_soup.jpg</image>
		</item>
	</group>
	<group title="Sides">
		<item>
			<title>Moujadra</title>
			<description>Warm lentils with sauteed onions and rice</description>
			<price>$3.99</price>
			<price2> </price2>
			<image>moujadra.jpg</image>
		</item>
		
	</group>
	<group title="Platters">
		<item>
			<title>null</title>
			<description>null</description>
			<price>null</price>
			<price2>null</price2>
			<image>null</image>
		</item>
	</group>
	<group title="Baklava">
		<item>
			<title>Baklava</title>
			<description>Home-made baklava squares with pistachios, walnuts, or cashews inbetween layers of filo dough drizzled with simple syrup</description>
			<price>$2.11</price>
			<price2>null</price2>
			<image>baklava.jpg</image>
		</item>
		<item>
			<title>Baklava Fingers</title>
			<description>Crushed pistachios, walnuts, cashews, or almonds wrapped in layers of filo dough drizzled with simple syrup</description>
			<price>$2.11</price>
			<price2>null</price2>
			<image>baklava.jpg</image>
		</item>
		<item>
			<title>Cinnamon Walnut Log</title>
			<description>A cinnamon walnut log.</description>
			<price>$2.11</price>
			<price2>null</price2>
			<image>baklava.jpg</image>
		</item>
		<item>
			<title>Maamoul</title>
			<description>A maamoul.</description>
			<price>$2.11</price>
			<price2>null</price2>
			<image>baklava.jpg</image>
		</item>
		<item>
			<title>Truffles</title>
			<description>Pistachio or hazelnut truffles. also comes in hazelnut variety.</description>
			<price>$2.11</price>
			<price2>null</price2>
			<image>baklava.jpg</image>
		</item>
	</group>
	<group title="Flatbreads">
		<item>
			<title>Wild Oregano Flatbread</title>
			<description>A Flatbread!</description>
			<price>$5.99</price>
			<price2>null</price2>
			<image>wild_oregano_flatbread_01.JPG</image>
		</item>
		<item>
			<title>Goat Cheese Flatbread</title>
			<description>A Flatbread!</description>
			<price>$5.99</price>
			<price2>null</price2>
			<image>goat_cheese_flatbread_01.JPG</image>
		</item>
		<item>
			<title>Potato Flatbread</title>
			<description>A Flatbread!</description>
			<price>$5.99</price>
			<price2>null</price2>
			<image>potato_flatbread_01.JPG</image>
		</item>
		<item>
			<title>Falafel Flatbread</title>
			<description>A Flatbread!</description>
			<price>$5.99</price>
			<price2>null</price2>
			<image>falafel_flatbread_01.JPG</image>
		</item>
		<item>
			<title>Fava Bean Flatbread</title>
			<description>A Flatbread!</description>
			<price>$5.99</price>
			<price2>null</price2>
			<image>fava_bean_flatbread_01.JPG</image>
		</item>
		<item>
			<title>Garlic Chicken Flatbread</title>
			<description>A Flatbread!</description>
			<price>$5.99</price>
			<price2>null</price2>
			<image>garlic_chicken_flatbread_01.JPG</image>
		</item>
	</group>
</menu>