body{
    height:100%;
    background-color:#D2CD64;
}

.menuDescription{
    border-width:0px;
    border-top-width:0px;
    border-color:#00FF2F;
    border-style:solid;
    background-color:#D2ED64;
    
    width:70%;
    height:20%;
    left:15%;
    bottom:5%;
    position:absolute;

    margin-top:10px;
    overflow:hidden;	
    z-index:0;

    -webkit-transition: left 1s, width 1s, height 1s, bottom 1s;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;

}


.hiddenMenus{
    height:100%;
    width:10%;
    left:15%;
    top:5%;
    position:absolute;
    padding:10px;
    
    list-style:none;
    font-size:150%;
    z-index:-10;

    -webkit-transition: left 1s;
}

.visibleMenus{
    height:100%;
    width:10%;
    left:5%;
    top:5%;
    position:absolute;
    padding:10px;
    
    list-style:none;
    font-size:150%;
    z-index:-10;

    -webkit-transition: left 1s, width 1s, height 1s, bottom 1s;

    -webkit-transition: left 1s;
}

.hiddenItems{
    height:100%;
    width:10%;
    left:15%;
    top:5%;
    position:absolute;
    padding:10px;

    list-style:none;
    font-size:120%;
    z-index:-10;

    -webkit-transition: left 1s;
}

.visibleItems{
    height:100%;
    width:10%;
    left:5%;
    top:5%;
    position:absolute;
    padding:10px;

    list-style:none;
    font-size:120%;
    z-index:-10;

    -webkit-transition: left 1s;

}

.visibleFAQs{
    height:100%;
    width:9%;
    left:85%;
    top:5%;
    padding:10px;    
    position:absolute;
    
    list-style:none;
    font-size:110%;

    z-index:0;

}

.unselectedItem {

    padding:5px;
    margin-top:10px;

    text-align:center;
    background-color:#D2ED64;

    border-width:0px;
    border-color:#00FF2F;
    border-style:solid;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;

    -webkit-transition: left 1s;

}

.backItem {

    padding:5px;
    margin-top:10px;

    text-align:center;
    font-weight:bold;
    background-color:#D2ED64;

    border-width:2px;
    border-color:#112211;
    border-style:solid;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;

    -webkit-transition: left 1s;

}

.selectedItem {

    padding:5px;
    margin-top:10px;

    text-align:center;
    background-color:#D2ED64;

    border-width:5px;
    border-color:#223322;
    border-style:solid;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;

    -webkit-transition: left 1s;

}

.visibleDB{
    background-color:#D2ED64;
    border-radius:25px; 
    text-align:center;
    font-size:150%;

    width:20%;
    height:6%;
    left:7.5%;
    top:85%;
    position:absolute;

    padding:5px;
    z-index:10000;

    -webkit-transition: left 1s, top 1s;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}

.hiddenDB{
    background-color:#D2ED64;
    border-radius:25px; 
    text-align:center;
    font-size:150%;

    width:20%;
    height:6%;
    left:17.5%;
    top:77.5%;
    position:absolute;
    padding:5px;

    z-index:10000;

    -webkit-transition: left 1s, top 1s;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}

.toggleMenuButtonVisible{
    background-color:#D2ED64;
    border-radius:25px; 
    text-align:center;
    font-size:175%;

    width:25%;
    height:35px;
    left:67.5%;
    top:8.5%;
    position:absolute;

    padding:5px;
    z-index:10000;

    -webkit-transition: left 0.5s, top 0.5s, opacity 0.5s;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}

.toggleMenuButtonHidden{
    background-color:#D2ED64;
    border-radius:25px; 
    text-align:center;
    font-size:175%;

    width:25%;
    height:35px;
    left:67.5%;
    top:0%;
    position:absolute;
    padding:5px;

    z-index:10000;
    opacity:0;

    -webkit-transition: left 1s, top 1s, opacity 1s;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}


#dbTitle{
    font-weight:bold;
    font-style:italic;
    text-shadow: 3px 3px 5px green;

}

#dbPrice{
    background-color:#D1CFD0;
    border-radius:25px;
    border-color:#B8B8B8;
    border-width:2px;
    border-style:solid;
    padding:5px;
    position:absolute;
    margin-top:100px;
    margin-left:275px;

    font-family:"Lucida Grande", sans-serif;
}

#dbText{
    font-size:70%;
}

#dbTip{
    font-size:70%;
}



#itemText{
    position:absolute;
    top: 15%;
    left: 35%;

    font-size:120%;
}

#itemPrice{
    position:absolute;
    left: 50px;
    top: 110px;

    font-size:150%;
    font-weight:bold;
    font-style:italic;
    text-shadow: 3px 3px 5px green;
}

#itemPrice2{
    position:absolute;
    left: 50px;
    top: 135px;

    font-size:150%;
    font-weight:bold;
    font-style:italic;
    text-shadow: 3px 3px 5px green;
}

#popupBackground{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 20000;
    display: none;
    
}
 
#popupBackground > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    text-align:center;
    font-size:150%;
    background-color:#D2ED64;

    border-width:5px;
    border-color:#00FF2F;
    border-style:solid;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}

.question{
    text-align:center;
    font-weight:bold;
    font-size:120%;
    padding:5px;
}

.answer{
    text-align:center;

}

.closeTip{
    text-align:center;
    font-size:80%;
    font-style:italic;
    padding:10px;
}

.slideshowFull{
    border-width:0px;
    border-top-width:0px;
    border-color:#00FF2F;
    border-style:solid;

    width:90%;
    height:90%;
    left:5%;
    top:5%;
    position:absolute;
    
    background-color:#00FF2F;
    z-index:10;

    -moz-box-shadow:0 0 5px #111;
    -webkit-box-shadow:0 0 5px #111;
    box-shadow:0 0 5px #111;

    -webkit-transition: left 1s, width 1s, height 1s, bottom 1s;
}

.slideshowSmall{
    border-width:0px;
    border-top-width:0px;
    border-color:#00FF2F;
    border-style:solid;

    width:70%;
    height:70%;
    left:15%;
    top:5%;
    position:absolute;
    
    background-color:#00FF2F;
    z-index:10;
    
    -moz-box-shadow:0 0 5px #111;
    -webkit-box-shadow:0 0 5px #111;
    box-shadow:0 0 5px #111;

    -webkit-transition: left 1s, width 1s, height 1s, bottom 1s;
}

.slidesVisible{
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    position:relative;

    list-style:none outside none;
    overflow:hidden;

    -webkit-transition-property: width, height, top, left;
    -webkit-transition-duration: 1s;

}

.slidesHidden{
    padding:0px;
    margin:0px;
    height:0%;
    width:100%;
    position:relative;

    list-style:none outside none;
    overflow:hidden;

    -webkit-transition-property: width, height, top, left;
    -webkit-transition-duration: 1s;

}

.slide{    
    top:0px;
    height:100%;
    width:100%;
    position:absolute;
    list-style: none;
    display:none;
    z-index:10;

    -webkit-transition: left 1s, width 1s, height 1s, bottom 1s;
}

.slideshowImageFull{
    height:100%;
    width:100%;
    position:relative;

    -webkit-transition: left 1s, width 1s, height 1s, bottom 1s;

}

.slideshowImageSmall{
    height:80%;
    width:80%;
    position:relative;

    -webkit-transition: left 1s, width 1s, height 1s, bottom 1s;

}

#slideshow .slideActive{
    top:0px;
    height:100%;
    width:100%;
    position:relative;
    display:list-item;
    z-index:1000;

    -webkit-transition: left 1s, width 1s, height 1s, bottom 1s;
}

#slideshow canvas{
    display:none;
    position:absolute;
    z-index:100;
}